@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../assets/concourse/concourse_c2_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../assets/concourse/concourse_c2_bold.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTS */
    --font-base: 16px;
    --font-small: 0.8rem;
    --font-smallest: 0.6rem;

    /* SIZING SYSTEM - BOX MODEL */
    --w-10: 4px;
    --w-20: 8px;
    --w-30: 12px;
    --w-40: 16px;
    --w-50: 24px;
    --w-60: 32px;
    --w-70: 48px;
    --w-80: 64px;
    --w-90: 96px;
    --w-100: 128px;
    --w-110: 192px;
    --w-120: 256px;
    --w-130: 384px;
    --w-140: 512px;
    --w-150: 640px;
    --w-160: 768px;

    /* TODO: Z-index system */

    font-size: var(--font-base);
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

.h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

.h2 {font-size: 2.441rem;}
.h3 {font-size: 1.953rem;}
.h4 {font-size: 1.563rem;}
.h5 {font-size: 1.25rem;}

small,
.text-small { font-size: var(--font-small); }
.text-larger { font-size: 3rem; }

.text-thin { font-weight: 100; }
.text-light { font-weight: 300; }
.text-caps { text-transform: uppercase; }
.text-center { text-align: center; }
.text-emphasize { font-style: italic; }

.hl { color: var(--color-primary); }
.hl-darker { color: var(--color-primary-darker); }

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-8px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-2px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}