body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Concourse', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    background: var(--color-background);
    color: var(--color-base);
}


.header {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

.video-container {
    max-height: 90vh;
    clip-path: url(#clip-00);
    -webkit-clip-path: url(#clip-00);
}      

.bg-vid {
    width: 100%;
    display: block;
}

.clipping-paths {
    width: 0;
    height: 0;
    position: absolute;
}

.title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name,
.sub {
    margin: 0;
    letter-spacing: 1px;
    font-size: var(--font-smallest);
}

.pipe {
    margin: 0 var(--w-40);
    font-size: var(--font-smallest);
}


.header-icon-container {
    position: absolute;
    bottom: var(--w-10);
    height: var(--w-60);
}

.header-icon {
    height: var(--w-60);
}

.header-icon .primary {
    fill: transparent;
}

.header-icon .secondary {
    fill: var(--color-base);
}



.main {
    width: 100%;
    min-height: 100vh;
    padding: var(--w-40);
    display: flex;
    flex-flow: column;
    align-items: center;

    background-image: var(--bg-img-large);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main p {
    margin: 1rem auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.section-container {
    display: block;
    color: var(--color-base);
    text-decoration: none;
}

.section {
    width: 100%;
    margin-bottom: var(--w-40);
    padding: var(--w-40);
    position: relative;
    background-color:rgba(0, 0, 0, 0.85);
}

.section-container:last-of-type .section {
    margin-bottom: 0;
}

.section-bio {
    position: relative;
}

.bio-pic-container {
    position: relative;
    display: inline-block;
}

.bio-pic {
    width: var(--w-110);
}

.wardrobe {
    z-index: var(--z-wardrobe);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.frost .wardrobe-primary {
    width: 39%;
    top: 19%;
    left: 33%;
}

.frost .wardrobe-secondary {
    width: 39%;
    top: -1%;
    left: 33%;
}

.earth .wardrobe-primary {
    width: 42%;
    top: 0%;
    left: 31%;
}

.earth .wardrobe-secondary {
    width: 15%;
    top: 64%;
    left: 2%;
}

.wind .wardrobe-primary {
    width: 36%;
    top: 22%;
    left: 34%;
}

.wind .wardrobe-secondary {
    width: 23%;
    top: 59%;
    left: 75%;
}

.section-project {
    transition: all 0.2s ease;
}

.section-project:hover {
    background-color:rgba(238, 238, 238, 0.85);
}

.section-project:hover .section-container {
    color: var(--color-primary-darker)
}

.section-project:hover .hl {
    color: var(--color-primary-darker);
}

.section-project:hover .label {
    background-color: var(--color-primary-lighter);
    color: var(--color-primary-darkest);
}

.section-project:hover p {
    color: var(--color-primary-darkest);
}

.nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    margin-right: var(--w-50);
}

.nav-link:last-of-type {
    margin-right: 0;
}

.nav-link:hover .icon{
    fill: var(--color-primary);
}

.nav-icon {
    height: var(--w-50);
    fill: var(--color-base);
    transition: all 0.2s ease;
}

.label {
    padding: 0 var(--w-20);
    margin-right: var(--w-20);
    background-color: var(--color-primary-darker);
    border-radius: var(--w-20);
}

.label:last-of-type {
    margin-right: 0;
}


@media only screen and (min-width: 700px) {
    .name,
    .sub,
    .pipe {
        font-size: var(--font-small);
        letter-spacing: 2px;
    }

    .bio-pic {
        width: var(--w-120);
    }

    .projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .section-project {
        width: 49%;
    }
}

@media only screen and (min-width: 1080px) {
    .name,
    .sub,
    .pipe {
        font-size: var(--font-base);
        letter-spacing: 3px;
    }

    .main {
        padding: var(--w-60);
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    
    .content {
        flex-direction: row;
    }

    .section {
        padding: var(--w-60);
    }

    .section-bio {
        margin-right: var(--w-40);
        flex-basis: 600px;
        position: relative;
    }

    .bio-pic {
        width: var(--w-130);
    }

    .nav {
        position: absolute;
        bottom: var(--w-40);
    }

    .projects {
        min-width: 700px;
        width: 49%;
        flex: 1;
    }
}
