.earth {
    --color-base: #fff;
    --color-primary: rgba(201, 255, 184);
    --color-primary-darker: rgb(51, 138, 25);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/earth/bg-small.jpg");
    --bg-img-med: url("../assets/earth/bg-med.jpg");
    --bg-img-large: url("../assets/earth/bg-large.jpg");
}

.frost {
    --color-base: #fff;
    --color-primary: rgba(184, 244, 255);
    --color-primary-darker: rgb(7, 114, 133);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/frost/bg-small.jpg");
    --bg-img-med: url("../assets/frost/bg-med.jpg");
    --bg-img-large: url("../assets/frost/bg-large.jpg");
}

.wind {
    --color-base: #fff;
    --color-primary: rgb(151, 255, 220);
    --color-primary-darker: rgb(33, 97, 76);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/wind/bg-small.jpg");
    --bg-img-med: url("../assets/wind/bg-med.jpg");
    --bg-img-large: url("../assets/wind/bg-large.jpg");

}