.earth {
    --color-base: #fff;
    --color-primary: rgba(201, 255, 184);
    --color-hl: var(--color-primary);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/earth/bg-small.jpg");
    --bg-img-med: url("../assets/earth/bg-med.jpg");
    --bg-img-large: url("../assets/earth/bg-large.jpg");
}

.frost {
    --color-base: #fff;
    --color-primary: rgba(184, 244, 255);
    --color-secondary: rgb(197, 184, 255);
    --color-hl: var(--color-primary);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/frost/bg-small.jpg");
    --bg-img-med: url("../assets/frost/bg-med.jpg");
    --bg-img-large: url("../assets/frost/bg-large.jpg");
}

.wind {
    --color-base: #fff;
    --color-primary: rgb(151, 255, 220);
    --color-hl: var(--color-primary);
    --color-background: rgb(0, 0, 0);

    --bg-img-small: url("../assets/wind/bg-small.jpg");
    --bg-img-med: url("../assets/wind/bg-med.jpg");
    --bg-img-large: url("../assets/wind/bg-large.jpg");

}