@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-base: 16px;
    --font-gianormous: 20rem;
    --font-larger: 3rem;

    --w-10: 4px;
    --w-20: 8px;
    --w-30: 12px;
    --w-40: 16px;
    --w-50: 24px;
    --w-60: 32px;
    --w-70: 48px;
    --w-80: 64px;
    --w-90: 96px;
    --w-100: 128px;
    --w-110: 192px;
    --w-120: 256px;
    --w-130: 384px;
    --w-140: 512px;
    --w-150: 640px;
    --w-160: 768px;

    /* TODO: Z-index system */

    font-size: var(--font-base);
    line-height: 1.4;
}

.earth {
    --color-base: #fff;
    --color-hl: rgba(201, 255, 184, 0.767);
    --color-background: rgb(0, 0, 0, 0.66);
}

.frost {
    --color-base: #fff;
    --color-hl: rgba(184, 244, 255, 0.767);
    --color-background: rgb(0, 0, 0, 0.66);
}

.fire {
    --color-base: #fff;
    --color-hl: rgba(255, 201, 184, 0.767);
    --color-background: rgb(0, 0, 0, 0.66); 
}
body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--color-base);
}


.header {
    height: 100vh;
    max-width: var(--w-160);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    line-height: 0.9;

}

.name {
    font-weight: 100;
    text-transform: uppercase;
    font-size: min(11vw, 6rem);
}

.lastname {
    letter-spacing: -1.3vw;
}

.sub {
    margin-top: var(--w-80);
    font-size: 4vw;
}

.bg-vid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.main {
    height: calc(100vh - var(--w-70));
    /* nav height */
    margin-top: var(--w-80); 
    position: relative;
    padding: 1rem;
    
    background-color: var(--color-background);
    color: white;
    overflow: scroll;
}

.main p {
    max-width: 600px;
    margin: 1rem auto;
    
}

.icon {
    height: var(--w-60);

    fill: var(--color-base);
    stroke: transparent;
}

.nav {
    height: var(--w-80);
    padding: var(--w-30);
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    height: inherit;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.nav-link {
    height: var(--w-70);
    width: var(--w-70);
    margin-right: var(--w-40);

    display: flex; 
    align-items: center;
    justify-content: center;

    border-radius: calc(0.5 * var(--w-70));
}

.footer .nav-link:hover .icon{
    fill: var(--color-hl);
}
.nav-link:hover {
    background-color: rgb(0, 0, 0, 0.10);
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link a {
    height: 32;
    width: 32;
    display: inline-block;
}

.headshot {
    height: var(--w-130);
    border-radius: calc(0.5 * var(--w-130));
}

.footer {
    width: 100%;
    height: var(--w-70);
    padding: var(--w-30);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* GLOBAL */

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


.center,
.text-center {
    text-align: center;
}

.emphasize {
    font-style: italic;
}

.gianormous,
.text-gianormous {
    font-size: 14rem;
}

.larger,
.text-larger {
    font-size: 3rem;
}

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.highlight {
    color: var(--color-hl);
}